.moviePageContainer{
    padding: 20px;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.moviePageInnerContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.moviePageCardsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loadMoreButton{
    border: none;
    background-color: #2ec2e2;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    font-weight: bold;

    &:hover{
        background-color: #2c3e50;
    }
}